input[type=checkbox] {
    width:25px;
    height:25px;
}

#id_phone {
    width:125px;
}

tr.strikeout td { position:relative        } /* Setup a new coordinate system   */
tr.strikeout td::before {                     /* Create a new element that       */
  content: " ";                              /* …has no text content            */
  position: absolute;                        /* …is absolutely positioned       */
  left: 0; top: 50%; width: 100%;            /* …with the top across the middle */
  border-bottom: 1px solid #000;             /* …and with a border on the top   */
}

.navbar, .btn, .footer {
  background-color: #563d7c;
}

thead {
 background-color: #563d7c; 
}

tbody {
  font-size: 1.75rem;
  color: #563d7c; 
}