{% extends "base_generic.html" %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <h1 class="display-4">Cписок игр</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      {% if game_list %}
        {% for game in game_list %}
        <div class="card text-center">
          <div class="card-header">
            {{ game.date }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ game.package.name }}</h5>
            <p class="card-text">{{ game.location.name }}</p>
            <a href="{% url 'game_result_edit' game.pk %}" class="btn btn-primary">Edit result</a>

            <a data-toggle="modal" data-target="#modal" href="{% url 'game_application_add' game.pk %}">here</a>
            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document"></div>
              <script>
              $('#modal').on('show.bs.modal', function (event) {
                  var modal = $(this)
                  $.ajax({
                      url: "{% url 'game_application_add' game.pk %}",
                      context: document.body
                  }).done(function(response) {
                      modal.html(response);
                  });
              })
              </script>
            </div>
          </div>
          <div class="card-footer text-muted">
            {{ game.presenter.first_name }} {{ game.presenter.last_name }}
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>На ближайшие даты нет игр. Следите за новостями!</p>
      {% endif %}             

    </div>
  </div>

  <script>
    var form_options = { target: '#modal', success: function(response) {} };
    $('#game_application_add').ajaxForm(form_options);
</script>
{% endblock %}