<div class="modal-dialog modal-lg" role="document">
{% load bootstrap4 %}
    <form action="" method="post" id="game_application_add" class="form">{% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Add News</h4>
            </div>

            <div class="modal-body">
            {% bootstrap_form form %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close1</button>
                <input type="submit" class="btn btn-primary" value="Save changes2" />
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->

<script>
    var form_options = { target: '#modal', success: function(response) {} };
    $('#game_application_add').ajaxForm(form_options);
</script>