{% extends "base_generic.html" %}
{% block content %}
{% load bootstrap4 %}
<form action="" method="post">
  {{ formset.management_form }}
  {% csrf_token %}
  <table>
    {% for form in formset %}   
    <tr>
      {% for field in form %}
      <td>{% bootstrap_field field %}</td>
      {% endfor %}
    </tr>    
    {% endfor %}
  </table>
  <input type="submit" value="Send" class="btn btn-secondary btn-sm"/>
</form>
{% endblock %}