{% extends "base_generic.html" %}
{% block title %}<title>natural_selection</title>{% endblock %}
{% block body %}
<nav class="navbar navbar-dark">
  {% load static %}    
  <a class="navbar-brand" href="#">
    <img src="{% static 'img/Logotip-LI_mini3.png' %}" height="40">
    {{ application.team.name }}
  </a>
  <a href="{% url 'phone_logout' %}" class="btn btn-outline-light my-2 my-sm-0">Выход</a>
</nav>

<div class="card">
  <div class="card-header">
    {% if question %}
    <h5 class="card-title">{{ question.number }}. {{ question.text }}</h5>
    {% endif %}
    <a href="{% url 'natural_selection' %}" class="btn btn-secondary btn-sm">Обновить</a>
  </div>
  <div class="card-body">    
    <p class="card-text"><B>{{ message }}</B></p>
    {% if form %}
      <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}        
        </table>
        <input type="submit" value="Ответить" class="btn btn-secondary btn-sm"/>
      </form>
      {% endif %}
  </div>
  <div class="card-footer text-muted">
    <table cellpadding="5">
    {% for i in hints %}
      <td>
      {% if i.used %}<s>{% endif %}
      {{ i.name }}
      {% if i.used %}</s>{% endif %}
      </td>
    {% endfor %}
    </table>
  </div>
</div>
<div class="footer mt-auto py-3">
  <small class="text-white">{{ application.game.date }}, {{ application.game.package.name }}, {{ question.package_rounds.rounds.name }}</small>
</div>
{% endblock %}