{% extends "base_generic.html" %}
{% block title %}<title>natural_selection_result</title>{% endblock %}
{% block body %}
  <div>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>      
        {% for h in header %}
          <th>{{ h }}</th>
        {% endfor %}
        </tr>
      </thead>      
      <tbody>
      {% for row in rows %}
        <tr {% if row.meta.strikeout %} class="strikeout" {% endif %}>
        {% for r in row.data %}
          <td><B>{{ r }}</B></td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}