{% extends "base_generic.html" %}
{% block title %}<title>phone_login</title>{% endblock %}
{% block body %}
<nav class="navbar navbar-dark">
  {% load static %}
  <a class="navbar-brand" href="#">
    <img src="{% static 'img/Logotip-LI.png' %}" height="40">  
  </a>
</nav>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Введите номер телефона, который был указан при регистрации вашей команды</h5>    
  </div>  
  <div class="card-body">
    {{ form.phone.errors }}
    <form action="" method="post" class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">+7</div>
        </div>
        {% csrf_token %}
        {{ form.phone }}
      </div>
      <input type="submit" value="Войти" class="btn btn-secondary mb-2"/>
    </form>    
  </div>
</div>
{% endblock %}