{% extends "base_generic.html" %}

{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Расписание игр</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

      {% if game_list %}
        {% for game in game_list %}
        <div class="card text-center">
          <div class="card-header">
            {{ game.date }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>На ближайшие даты нет игр. Следите за новостями!</p>
      {% endif %}             

    </div>
  </div>

{% endblock %}