{% extends "base_generic.html" %}
{% block title %}<title>vk_messages_send</title>{% endblock %}
{% block content %}
{% load bootstrap4 %}
<form action="" method="post">
  {% csrf_token %}
    {% bootstrap_form form %}
  <input type="submit" value="Send" class="btn btn-secondary btn-sm"/>
</form>
{% endblock %}